<!DOCTYPE html>
<html>
  <head>
    <link rel="manifest" href="./manifest_{{ app_key }}.json" />
    <script src="./swlib_{{ app_key }}.js"></script>
    <script language="javascript">
    //<!--
    {% include 'embedded/global.js.twig' with {'vapid_public_key': vapid_public_key} %}
    function bpush_init() {
      if ( isSupportPushNotification() ) {
        enablePushNotification();
      }
    }

    if ( window.addEventListener ) {
      window.addEventListener('load', bpush_init);
    } else {
      document.attachEvent('onload', bpush_init)
    }
    //-->
    </script>
  </head>
  <body>
  </body>
</html>
